# Base de datos
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-here

# Almacenamiento
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=52428800

# App
NEXT_PUBLIC_APP_NAME="Visual 360°"
NEXT_PUBLIC_APP_URL=http://localhost:3000
